body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    transition: background-color 0.3s ease; 
}

#spline-container {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.2);
}

spline-viewer {
    width: 100%;
    height: 100%;
}


spline-viewer::part(logo) {
    transform: scale(0) !important;
}